* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.orange {
    color: #FD6E0A;
}
.btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    cursor: pointer;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px ;
    background-repeat: no-repeat;
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-position: 23px 38px , bottom right;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
nav {
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 50px auto;
}
.content {
    max-width: 585px;
}
#banner .content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .content h1 {
font-size: 85px;
font-weight: bold;
margin-bottom: 20px;
}
#banner .content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img {
    width: 584px;
    vertical-align: middle;
}
#banner-button {
    display: flex;
    gap: 30px;
}
#about ,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h3 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin: 30px auto;
}
.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#about .about-information {
    display: flex;
    justify-content: space-around;
}
#about .about-information p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#about .about-information h4 {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}
.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}
.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h4 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr {
    margin: 30px 0;
}
.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin: 30px;
}
.resume-card {
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text {
    font-size: 16px;
    color: #757575;
    line-height: 30px;
}
#resume button {
    display: block;
    margin: 50px auto;
}
footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social {
    max-width: 562px;
}
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p {
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 24px;
}
.footer-container form input[type="text"] ,
[type="email"],
.footer-container textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}